version: '3.8'
services:
  angular-app:
    build: .
    ports:
      - "8081:80"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: angular_db
